doctype html
html
    head
        title Sounds
        script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.spatial.min.js')

    body
        h1 Listening to #{context.title} by #{context.artists}.
        p This is some crazy shit!
        hr

        div#controls
            input#slider(type="range" oninput="sliderChange(this.value)")
            button#play Play

        script.
            const slider = document.getElementById("slider")
            let paused = false
            let hasBeenPlayed = false

            const song = new Howl({
                src: ['/stream/#{context.id}'],
                format: ['mp3'],
                loop: true,
                preload: true,
                autoplay: true,
                onplay: function () { hasBeenPlayed = true }
            });

            function sliderChange(value) {
                let second = ~~(value / 100 * song.duration())
                song.seek(second)
            }

            window.onload = function() {
                slider.value = 0

                document.getElementById("play").addEventListener("click", function() {
                    if (paused) {
                        song.play()
                        paused = false
                    } else {
                        song.pause()
                        paused = true
                    }
                }, false)

                setInterval(function() {
                    if (hasBeenPlayed) {
                        let time = song.seek()
                        let percentDone = ~~(time / song.duration() * 100)
                        slider.value = percentDone
                    }
                }, 500)
            }
