doctype html
html
    head
        title Sounds
    body
        h1 Sounds
        p This is some crazy shit!
        hr

        each song in context.get("songs")
            p!= '<a href="/listen/' + song.id + '">' + song.title + "</a>" + " by " + song.artists
