extends base

block head
    //
        I'm using Howler not because I want to, but because some dumbass
        over at Google didn't implement setting an HTML5 Audio object's
        currentTime correctly. 2017-05-16

    script(src="/static/js/howler/howler.core.min.js")
    script(src="/static/js/howler/howler.min.js")
    script const id = "#{context.id}"
    script(src="/static/js/listen.js/")

block content
    #controls
        progress#progressBar(value="0" max="100")
        br
        button#play.btn.btn-success Play
